@model IEnumerable<Employee_Details.Models.Gender>

@{
    ViewData["Title"] = "Index";
}

<h1 class="color-text">Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table color-text">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenderId)
            </th>
            <th>@Html.DisplayNameFor(model => model.GenderName)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenderId)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenderName)
                </td>
            <td>
               
             
                <a asp-action="Delete" asp-route-id="@item.GenderName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <script>
        alert("@TempData["Message"]");
    </script>
}
